.button{
    background-color: #f5f5f5;
    font-family: 'Poppins Semi';
    color: #030303;
    padding: 20px 100px;
    border:none;
    margin: 10px;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.button:hover{
    color: #f5f5f5;
    background-color: #535353;
}