.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.nav{
    display: flex;
    gap:60px;
}

.header-link{
    font-family: 'Poppins Semi';
    color: #030303;
    transition: all 0.3s linear;
}

.header-link:hover{
    color: #5a5a5a;
}

.icons{
    display: flex;
    align-items: center;
    gap:24px;
}

